# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* List of popular languages for Data Science
* List of libraries used by Data Scientists
* Data Science Tools
* Base operations in Jupyter Notebook

Some of the popular languages that Data Scientists use are:

1) Python
2) Sql
3) R

Some of the commonly used libraries used by Data Scientists include:

1) pandas
2) numpy
3) scikit-learn

| Data Science Tools |
| --- |
| R Studio |
| Conda |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author
Joanna Banachowicz